[submodule "simulator/CARLA_0.9.13/catkin_ws/src/ros-bridge"]
    path = simulator/CARLA_0.9.13/catkin_ws/src/ros-bridge
    url = https://github.com/1127705669/ros-bridge.git
    branch = master
[submodule "third_party/osqp"]
	path = third_party/osqp
	url = https://github.com/osqp/osqp.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/osqp-eigen"]
	path = third_party/osqp-eigen
	url = https://github.com/robotology/osqp-eigen.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
